body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input[type="text"] {
  font-family: inherit;
  margin: 8px;
  height: 36px;
  width: 256px;
  font-size: 20px;
  padding-left: 12px;
}

input[type="submit"] {
  font-family: inherit;
  margin: 16px;
  height: 36px;
  width: 128px;
  font-size: 18px;
  border: none;
  background-color: #365fab;
  color: #F5F5F5;
}

input[type="submit"]:hover {
  background-color: #4274d1;
}

input[type="submit"]:active {
  background-color: #254277;
}

.buzzerButton {
  padding: 32px;
  font-size: 68px;
  width: 500px;
  height: 500px;
}

.green-bg {
  background-color: greenyellow;
}

.red-bg {
  background-color: lightcoral;
}